server {
    listen {{ ansible_eth1.ipv4.address }}:{{ blog_nginx_port }};
    location /blog/blogstats {
        auth_basic "Statistics";
        auth_basic_user_file /etc/nginx/.htpasswd;
        alias /var/www/blogstats;
        autoindex on;
    }
    location /blog {
        add_header Cache-Control "public, max-age=120, s-maxage=120";
        root /var/www;
    }
    location /meuse {
        add_header Cache-Control "public, max-age=120, s-maxage=120";
        root /var/www;
    }
    location /fishing {
        add_header Cache-Control "public, max-age=120, s-maxage=120";
        root /var/www;
    }
}
