server {
    listen {{ ansible_eth1.ipv4.address }}:{{ blog_nginx_port }};
    location / {
        root /var/www/blog;
    }
    location /blogstats {
        auth_basic "Statistics";
        auth_basic_user_file /etc/nginx/.htpasswd;
        root /var/www;
        autoindex on;
    }
}
