
backend meuse_backend
   balance roundrobin
   mode http

#   http-response set-header Content-Security-Policy "default-src 'self'"

   http-request set-path /meuse%[path]
   option httpchk GET /meuse/

   http-check expect status 200
   option redispatch
   option forwardfor

   retries 2

{% for blog_server in groups['blog'] %}
   server {{ blog_server }} {{ hostvars[blog_server].ansible_eth1.ipv4.address }}:{{ hostvars[blog_server].blog_nginx_port }} check inter 20000
{% endfor %}
